.app-footer {
    .footer-col-title {
        color: #d2d2d2;
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            list-style: none;
            margin-bottom: 5px;

            &:last-child {
                margin-bottom: 0px;
            }

            a {
                color: hsla(0,0%,100%,.5);
                text-decoration: none;
                transition: .15s ease-in-out color;

                &:focus,
                &:hover {
                    color: white;
                }
            }
        }
    }
}
